/* ==========================================================================
   MASTHEAD
   ========================================================================== */

.masthead {
  position: fixed;
  background: rgba(32, 35, 52, 0.7);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  height: fit-content;
  top: 0;
  width: 100%;

  -webkit-animation: intro 0.3s both;
  animation: intro 0.3s both;
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
  z-index: 20;

  /* Remove bottom border line */
  &::after {
    display: none;
  }

  &__inner-wrap {
    @include container;
    @include clearfix;
    padding: 0.5em 2em;
    font-family: $sans-serif-narrow;

    @include breakpoint($x-large) {
      max-width: $x-large;
    }

    nav {
      z-index: 10;
    }

    a {
      text-decoration: none;
    }
  }
}

.masthead__menu {

  ul {
    margin: 0;
    padding: 0;
    clear: both;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
}

.masthead__menu-item {
  background-color: transparent;
  display: inline-block;
  list-style-type: none;
  white-space: nowrap;

  &--lg {
    margin-right: auto;
    order: -1;
    font-weight: 700;
  }

  &.tail {
    margin-left: auto;
  }
}

.masthead__menu-item.selected a {
  color: var(--global-text-color);
  font-weight: 700;
  border-bottom: none;
  pointer-events: none;
  cursor: default;
}

.masthead__menu-item.selected a:hover {
  color: var(--global-text-color);
  border-bottom: none;
}